extends ./_shared/master
include ./_shared/nav-logged

append scripts
    script(src="javascript/profile-nav.js")
    script(src="javascript/scroll-content.js")
    script(src="javascript/create-post.js")
    script(src="javascript/like-post.js")

block nav-inner-right
    +nav-logged()

block content
    div.container
        div.row.home-log
            div.col-lg-5.col-lg-offset-3
                div.container-style
                    label
                        | Write a post
                    textarea(name="post_content" placeholder="Whats on your mind" rows="1")#post-message
                    button.post-btn
                        | Post
                div#all-posts-wrapper
                    each post, index in allPosts
                        div.all-posts.container-style#span-wrapper
                            span.hiddenId #{post.id}
                            div.post-header
                                a(href="profile/" + allUsers[index].username)
                                    img(src="img/default_profile.jpg")
                                p
                                    a(href="profile/" + allUsers[index].username)| #{allUsers[index].username}
                                    br
                                    | posted #{post.date}
                            div.post-content
                                p.break-fix
                                    | #{post.post_content}
                            div.icons-content
                                div.row
                                    button(name="type", value="like").like-btn.col-lg-6
                                        div.text-center.btn-wrapper
                                            p
                                                i(class="fa fa-thumbs-o-up" aria-hidden="true")
                                                | Like(#{post.total_likes})
                                    button(name="type", value="comment")#comment-btn.col-lg-6
                                        div.text-center.btn-wrapper
                                            p
                                                i(class="fa fa-comment-o")
                                                | Comment(#{post.total_comments})
            div.col-lg-4
                //- PROBABLY BETTER TO BE 11
                div.latest-activities.col-lg-12.pull-right
                    p.activities-title
                        | Latest activites
                    div.user-info
                        //- EXPECTED TO BE FROM CONTEXT (PROFILE PIC)
                        a(href="#")
                            img(src="img/default_profile.jpg")
                        //- EXPECTED TO BE FROM CONTEXT (NAME)
                        p
                            a(href="#") Pavcho Pavchov
                            | just commented something cool on this post